# Created by https://www.toptal.com/developers/gitignore/api/django
# Edit at https://www.toptal.com/developers/gitignore?templates=django
.idea/
### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

.venv/
migrations/
# Ignore Django-specific files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore local development settings
local_settings.py

# Ignore database files
db.sqlite3
*.db


# Ignore virtual environment files
venv/